<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueMeiTaun-C3.6-样式绑定</title>
    <script src="../3rd/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-for="(i, index) of list">{{ index + "-" + i }}</div>
    <div v-for="(value, key, index)  of userInfo">
        {{ index }}-{{ key }}: {{ value }}
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            list: [
                "11111",
                "22222",
                "33333",
                "44444",
                "55555"
            ],
            userInfo: {
                name: "LiWei",
                age: 35,
                gender: "male"
            }
        }
    })
</script>
</body>
</html>